<%=link_to("Back to page",'/page',:action=>'index')%>

<div class="page delete">
	<h2>Delete Page</h2>

	<%= form_for(@page,:method => 'delete')do |t| %>
	<p>Are you sure you want to permanently delete this page? </p>

	<p class="reference-name"><%= t.object.Name %> </p>
	</table>
	<div class="form-buttons">
		<%= t.submit("Delete page")%>

	</div>
<% end %>
</div>